<h1>HELLO HELLO HELLO I AM AIDAN JOHNSON </h1>
<h2>Here are some facts about me:</h2>
<ul>
    <li>I am a computer science major at the University of Memphis</li>
    <li>I am currently 22 years old</li>
    <li>I have 1 Dog and 2 Cats</li>
    <li>I enjoy cooking and playing video games</li>
</ul>
