<h1>Directory of Student Pages</h1>

<ul>
    <li><%= link_to 'TJMarie', tjmarie_path %></li>
    <li><%= link_to 'Aidan Johnson', aidanjohnson_path %></li>
    <li><%= link_to 'pmholt', pmholt_path %></li>
</ul>
